.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  margin-top: 70px;
  flex: 1 1 auto;
  background-image: url('@/resources/img/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;

  @supports (background-image: url('@/resources/img/background.webp')) {
    background-image: url('@/resources/img/background.webp');
  }
}
