.body {
  max-width: 512px;
  width: 100%;
  margin: 30px 0 20px;
}

.title {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  &:before {
    content: '•';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
  }
}

.removeButton {
  flex-shrink: 0;
  height: 20px;
  width: 20px;
  margin: 0 0 0 8px;
  padding: 0;
  border: none;
  background-color: transparent;
  vertical-align: middle;

  svg {
    fill: white;
    width: 100%;
    height: 100%;
    transition: fill 0.2s ease-in-out;

    &:hover {
      fill: #a9a9a9;
    }
  }
}
