@keyframes fade {
  to {
    display: none;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.8);
  }
}

.icon {
  z-index: 2000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  fill: white;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  animation: fade 0.4s linear forwards;
  pointer-events: none;
}
