.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #16181e;
  width: 100%;
  height: 100%;
}

.loadingText {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  display: flex;

  span {
    animation: loading 1s infinite;
    @for $i from 1 through 6 {
      &:nth-child(#{$i + 1}) {
        animation-delay: #{$i * 0.15}s;
      }
    }
  }
}

@keyframes loading {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
}
