.body {
  position: relative;
  width: 100%;
  max-width: 150px;
  box-sizing: border-box;
  transition: max-width 0.2s ease-in-out;

  &:focus-within {
    max-width: 500px;

    .listBody {
      display: block;
    }
  }

  @media (max-width: 768px) {
    max-width: 52px;
  }

  @media (max-width: 576px) {
    &:focus-within {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: none;
      background-color: rgb(32, 32, 41);
      padding: 10px;

      .closeButton {
        display: block;
      }
    }
  }
}

@media (max-width: 576px) {
  body:has(.body:focus-within) {
    overflow: hidden;
  }
}

.form {
  display: flex;
  align-items: center;
}

.formControl {
  display: flex;
  align-items: center;
  background-color: #16181e;
  border: 4px solid #fff;
  clip-path: polygon(
    0 4px,
    4px 4px,
    4px 0,
    calc(100% - 4px) 0,
    calc(100% - 4px) 4px,
    100% 4px,
    100% calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) 100%,
    4px 100%,
    4px calc(100% - 4px),
    0 calc(100% - 4px)
  );
  width: 100%;
  overflow: hidden;
}

.label {
  width: 100%;
  display: flex;
  align-items: center;
  height: 44px;
}

.clearButton {
  margin: 0 5px;
  min-width: 25px;
  cursor:
    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC')
      14 0,
    pointer;

  svg {
    vertical-align: middle;
    fill: white;
    width: 100%;
    height: 100%;
  }
}

.icon {
  width: 44px;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  align-items: center;
  cursor:
    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC')
      14 0,
    pointer;

  svg {
    vertical-align: middle;
    fill: white;
    width: 100%;
  }
}

.input {
  border: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 13px 0;
  color: white;
  font-size: 13px;
  line-height: 1;
  transition: all 0.2s;

  &::placeholder {
    color: #a9a9a9;
  }

  @media (max-width: 576px) {
    font-size: 12px;
  }
}

.listBody {
  position: absolute;
  display: none;
  z-index: 200;
  background-color: #16181e;
  top: 60px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  max-height: calc(100dvh - 60px);
  border: 4px solid #fff;

  clip-path: polygon(
    0 4px,
    4px 4px,
    4px 0,
    calc(100% - 4px) 0,
    calc(100% - 4px) 4px,
    100% 4px,
    100% calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) 100%,
    4px 100%,
    4px calc(100% - 4px),
    0 calc(100% - 4px)
  );
  overflow-x: hidden;
  overflow-y: auto;

  @media (max-width: 576px) {
    background-color: transparent;
    top: 60px;
    padding: 10px;
    border: none;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.link {
  display: block;
  padding: 12px 15px 12px 48px;
  height: 100%;
  font-size: 13px;
  line-height: 1.75;
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #a9a9a9;
  }

  @media (max-width: 576px) {
    font-size: 14px;
  }
}

.closeButton {
  display: none;
  margin: 10px;
  border: none;
  font-size: 14px;
  color: white;
  cursor:
    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC')
      14 0,
    pointer;
}
