.body {
  position: relative;
  width: 100%;
  max-width: 150px;
  box-sizing: border-box;
  transition: max-width 0.2s ease-in-out;

  &:focus-within {
    max-width: 500px;

    .listBody {
      display: block;
    }
  }

  @media (max-width: 768px) {
    max-width: 44px;
  }

  @media (max-width: 576px) {
    &:focus-within {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: none;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 10px;

      .closeButton {
        display: block;
      }
    }
  }
}

@media (max-width: 576px) {
  body:focus-within {
    overflow: hidden;
  }
}

.form {
  display: flex;
  align-items: center;
}

.formControl {
  display: flex;
  align-items: center;
  background-color: #16181e;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 22px;
  width: 100%;
  overflow: hidden;
}

.label {
  width: 100%;
  display: flex;
  align-items: center;
  height: 44px;
  box-sizing: border-box;
}

.clearButton {
  margin: 0 5px;
  min-width: 25px;
  cursor: pointer;

  svg {
    vertical-align: middle;
    fill: white;
    width: 100%;
    height: 100%;
  }
}

.icon {
  margin-left: 4px;
  margin-right: 4px;
  min-width: 30px;

  svg {
    vertical-align: middle;
    fill: white;
    width: 100%;
  }
}

.input {
  border: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 13px 0 13px 10px;
  color: white;
  font-size: 13px;
  line-height: 1;
  transition: all 0.2s;

  &::placeholder {
    color: white;
  }

  @media (max-width: 576px) {
    font-size: 12px;
  }
}

.listBody {
  position: absolute;
  display: none;
  z-index: 200;
  background-color: #16181e;
  top: 49px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 20px;

  @media (max-width: 576px) {
    background-color: transparent;
    top: 60px;
    padding: 10px;
    border: none;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.link {
  display: block;
  padding: 15px 15px 15px 48px;
  height: 100%;
  font-size: 13px;
  line-height: 1;
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #a9a9a9;
  }

  @media (max-width: 576px) {
    font-size: 14px;
  }
}

.closeButton {
  display: none;

  @media (max-width: 576px) {
    margin: 10px;
    border: none;
    font-size: 14px;
    color: white;
  }
}
