.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(32, 32, 41);
  z-index: 500;
  width: 100%;
  user-select: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 8px;
}

.logo {
  vertical-align: middle;
}

.title {
  font-size: 20px;
  line-height: 1;

  @media (max-width: 480px) {
    font-size: 16px;
  }
}
