.gamesSwiper {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;

  :global(.swiper-wrapper) {
    padding-top: 10px;
    padding-bottom: 35px;
    box-sizing: border-box;
  }

  :global(.swiper-slide) {
    display: flex;
    justify-content: center;
    user-select: none;
  }

  :global(.swiper-pagination) {
    bottom: 0;
  }

  :global(.swiper-pagination-bullet) {
    background-color: white;
  }
}

.img {
  vertical-align: middle;
  object-fit: fill;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.07);
  }
}
