.gamesSwiper {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;

  :global(.swiper-wrapper) {
    padding-top: 10px;
    padding-bottom: 35px;
    box-sizing: border-box;
  }

  :global(.swiper-slide) {
    user-select: none;
    width: max-content;
  }

  :global(.swiper-pagination) {
    bottom: 0;
  }

  :global(.swiper-pagination-bullet) {
    background-color: white;
    cursor:
      url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC')
        14 0,
      pointer;
  }

  :global(.swiper-button-next),
  :global(.swiper-button-prev) {
    color: white;
    top: 10px;
    margin: 0;
    height: 200px;
    width: 40px;
    transition: all 0.2s ease-in-out;
    cursor:
      url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC')
        14 0,
      pointer;

    &:hover:not(:global(.swiper-button-disabled)) {
      background-color: rgba(0, 0, 0, 0.7);
    }

    @media (max-width: 576px) {
      display: none;
    }
  }

  :global(.swiper-button-prev) {
    left: 0;
  }

  :global(.swiper-button-next) {
    right: 0;
  }
}

.link {
  display: inline-block;
}

.img {
  vertical-align: middle;
  object-fit: fill;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
