.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  margin-top: 70px;
  flex: 1 1 auto;
  background-image: image-set(
    url('@resources/img/background.webp') type('image/webp'),
    url('@resources/img/background.jpg') type('image/jpeg')
  );
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
}
