:root {
  --header-height: 70px;
}

@font-face {
  font-family: 'NesFont';
  src: url('@resources/fonts/Nes-font.otf');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  padding: 0;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'NesFont', Arial, sans-serif;
  background-color: #16181e;
  color: white;

  @media (max-width: 480px) {
    font-size: 14px;
  }
}

#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  @media (max-width: 480px) {
    padding: 0 20px;
  }
}

.button {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: white;
  background-color: blue;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 10px 20px;
  min-width: 105px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #0000cd;
    border-color: #0000cd;
  }
}

.fancy-link {
  text-decoration: none;
  color: transparent;
  background: -o-linear-gradient(left, #a9a9a9, #a9a9a9 50%, white 50%);
  background: -webkit-gradient(linear,
      left top,
      right top,
      from(#a9a9a9),
      color-stop(50%, #a9a9a9),
      color-stop(50%, white));
  background: linear-gradient(to right, #a9a9a9, #a9a9a9 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 0.3s ease-in-out;
  -o-transition: background-position 0.3s ease-in-out;
  transition: background-position 0.3s ease-in-out;

  &:hover {
    background-position: 0% 100%;
  }
}

.header {
  position: fixed;
  background-color: rgb(32, 32, 41);
  z-index: 500;
  width: 100%;
  height: var(--header-height);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__logo {
    vertical-align: middle;
  }

  &__title {
    font-size: 20px;
    line-height: 1;

    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
}

.main {
  margin-top: var(--header-height);
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  background-image: url('@resources/img/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
}

.starter {
  &__container {
    background-color: #16181e;
  }

  &__title {
    font-size: 26px;
    font-weight: 400;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;

    @media (max-width: 480px) {
      font-size: 22px;
      padding-top: 40px;
    }
  }

  &__subtitle {
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 70px;

    @media (max-width: 480px) {
      margin-top: 50px;
    }
  }

  &__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  &__image-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 400px;
    flex: 1 1 400px;
  }

  &__image {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
}

.games {
  &__title {
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    margin-bottom: 50px;
  }

  &__link {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
    }
  }

  &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px;
  }

  &__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;

    @media (max-width: 576px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }

  &__img {
    min-width: 150px;
    vertical-align: middle;
    -o-object-fit: fill;
    object-fit: fill;
  }

  &__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 10px;

    @media (max-width: 576px) {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }

  &__name {
    font-size: 18px;

    @media (max-width: 576px) {
      text-align: center;
      font-size: 16px;
    }
  }

  &__description {
    font-size: 12px;
    color: #d0d3d4;
    line-height: 1.5;
  }
}

.emulator {
  height: 100%;

  &__container {
    height: 100%;
    background-color: #16181e;
    padding-top: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &__game-name {
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 400;

    @media (max-width: 576px) {
      font-size: 18px;
    }
  }

  &__description {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 512px;
    font-size: 12px;
    line-height: 1.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }

  &__button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
    gap: 15px;
  }
}

.screen {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  max-width: 512px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;

  &__canvas {
    background-color: black;
    width: 100%;
    vertical-align: middle;
  }

  &__start-button {
    position: absolute;
    z-index: 150;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  &__controls {
    position: absolute;
    z-index: 1050;
    top: 10px;
    right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }

  &__controls-button {
    height: 24px;
    width: 24px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;

    svg {
      fill: white;
      width: 100%;
      height: 100%;
    }
  }

  &_fullscreen {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    max-width: none;
    background-color: black;

    .screen__canvas {
      height: 100%;
      width: auto;

      @media screen and (orientation: portrait) {
        width: 100%;
        height: auto;
      }
    }
  }
}

.gamepad {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1050;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  pointer-events: none;

  &__dpad {
    pointer-events: auto;
    margin-left: 5px;
    margin-bottom: 45px;
    background-image: url('@resources/img/controls/dpad.png');
    background-repeat: no-repeat;
    background-size: 120px 120px;
    background-position: center;
    width: 150px;
    height: 150px;
    opacity: 0.8;
  }

  &__right {
    margin-bottom: 50px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }

  &__button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }

  &__button {
    pointer-events: auto;
    height: 50px;
    width: 50px;
    background-image: url('@resources/img/controls/button.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-align: center;
    opacity: 0.85;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;

    &_turbo {
      background-image: url('@resources/img/controls/turbo-button.png');
    }

    &:active {
      opacity: 0.7;
    }
  }

  &__select-button {
    pointer-events: auto;
    height: 19px;
    width: 50px;
    background-image: url('@resources/img/controls/button-select.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    opacity: 0.85;
    position: relative;
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;

    &:active {
      opacity: 0.7;
    }

    &::after {
      width: 100%;
      position: absolute;
      bottom: -20px;
      left: 0;
      font-size: 10px;
      color: white;
      text-align: center;
      content: attr(aria-label);
    }
  }
}

.emptypage {
  height: 100%;

  &__container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  &__title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 400;
  }
}

.games-swiper {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;

  .swiper-wrapper {
    padding-top: 10px;
    padding-bottom: 35px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
      -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
      transform: scale(1.07);
    }
  }

  .swiper-pagination {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    background-color: white;
  }

  &__img {
    vertical-align: middle;
    -o-object-fit: fill;
    object-fit: fill;
  }
}

.localromslist {
  max-width: 512px;
  width: 100%;
  margin: 20px 0;

  &__title {
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
  }

  &__list {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px;
  }

  &__item {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #a9a9a9;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.scroll-button {
  position: fixed;
  z-index: 50;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  bottom: 20px;
  right: 20px;
  height: 45px;
  width: 45px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media (max-width: 576px) {
    height: 35px;
    width: 35px;
  }

  &_visible {
    pointer-events: auto;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  svg {
    fill: white;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}

.footer {
  background-color: rgb(32, 32, 41);

  &__copyright {
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    text-align: right;

    @media (max-width: 576px) {
      font-size: 10px;
    }
  }

  &__engine {
    padding: 20px 0 15px 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    text-align: right;
  }
}
