.gamepad {
  position: fixed;
  left: 0;
  bottom: 20px;
  z-index: 1050;
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;

  @media screen and (orientation: landscape) {
    bottom: 50%;
    transform: translate(0, calc(50% + 25px));
  }
}

.right {
  margin-top: 15px;
  margin-bottom: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonGroup {
  display: flex;
  gap: 20px;
}

.button {
  pointer-events: auto;
  height: 50px;
  width: 50px;
  background-image: url('@/resources/img/controls/button.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-align: center;
  opacity: 0.85;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  transition: 0.1s ease-in-out;
  border-radius: 50%;
  box-shadow:
    inset 1px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 1px rgba(0, 0, 0, 0.8);

  &:active {
    opacity: 0.7;
  }

  @supports (background-image: url('@/resources/img/controls/button.webp')) {
    background-image: url('@/resources/img/controls/button.webp');
  }
}

.buttonTurbo {
  filter: grayscale(100%);
}

.selectButton {
  pointer-events: auto;
  height: 19px;
  width: 50px;
  background-image: url('@/resources/img/controls/button-select.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  opacity: 0.85;
  position: relative;
  transition: 0.1s ease-in-out;
  border-radius: 20px;
  box-shadow:
    inset 1px 3px 3px rgba(255, 255, 255, 0.6),
    inset -3px -3px 3px rgba(0, 0, 0, 0.25);

  &:active {
    opacity: 0.7;
  }

  &::after {
    width: 100%;
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 10px;
    color: white;
    text-align: center;
    content: attr(aria-label);
  }

  @supports (background-image: url('@/resources/img/controls/button-select.webp')) {
    background-image: url('@/resources/img/controls/button-select.webp');
  }
}
